<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenSHotDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F5607251E7A36A900C27B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F56073E1E7A36A900C27B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5607491E7A36A900C27B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
